{% extends "base.html" %}
{% block title %} Perfil {% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3db8e03f60.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Registro</title>
</head>

<body>
    <form class="formulario">
        <h1>Bienvenido</h1>
        <div class="container">            
            <div class="input-container">
                <i class="fas fa-envelope icon"></i>
                <input type="email" placeholder="Correo electronico">

            </div>

            <div class="input-container icon">
                <i class="fas fa-key"></i>
                <input type="password" placeholder="contraseña">

            </div>
            <button type="submit" class="button">Login</button>
            
            <p>¿no tienes una cuenta?</p>
                 <a class="link" href="registrarvista.html" id="registro">Registrate</a>
            </p>

        </div>
    </form>
</body>

</html>
{% endblock %}